body{
margin:0;
font-family:arial;
background:black;
}

header, footer{
text-align:center;
background:url("https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-100679.jpg");
color:white;
padding: 5px;
font-weight:bold;
font-family:algerian;
}

nav {
margin:5px;
width:95px;
height:500px;
list-style: none;
}

a {
display:block;
padding:8px 12px;
color: white;
background:blue;
text-decoration: none;
border-radius: 10px;
}

.content {
padding: 20px;
}


table{
width:100%;
margin-left:auto;
margin-right:auto;
}

td.t1{
background:black;
}

td.t2{
background:grey;
color:white;
padding: 5px;
}

td.t3{
background:lightyellow;
}

/* =========================
   Desktop (≥ 992px)
   ========================= */
@media (min-width: 993px) {
  body {
    font-size: 16px;
    
  }
main.content {
    height:100vh;
}

nav {
height:100vh;
}
 

.content-frame {
width: 100%;
height: 100vh;   
border: none;
text-align: left;
}



}


/* =========================
   Tablet (361px – 768px)
   ========================= */
@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
main.content {
    height:100vh;
}

nav {
height:100vh;
}

.content-frame {
width: 100%;
height: 100vh;    
border: none;
text-align: left;
}


  }

/* =========================
   Mobile (≤ 400px)
   ========================= */
@media (max-width: 400px){
body {
    font-size: 12px;
  }

header, footer{
width:400px;
margin-left:auto;
margin-right:auto;
}

td.t1{
display: block;
}

td.t2{
display: block;
width:400px;
margin-left:auto;
margin-right:auto;
}

a {
text-align:center;
padding:9px;
width:379px;
}

nav {
height:169px;
}

.content-frame {
width: 100%;
height: 100vh;    
border: none;
text-align: left;
}


.content-frame {
width: 100%;
height: 100vh;    
border: none;
text-align: left;
}

main.content {
    height:100vh;

}



