body{
margin:0;
font-family:arial;
background:black;
}

header, footer{
text-align:center;
background:url("https://img.freepik.com/free-vector/blue-futuristic-networking-technology_53876-100679.jpg");
color:white;
padding: 5px;
font-weight:bold;
font-family:algerian;
}

nav {
margin:5px;
width:95px;
height:500px;
list-style: none;
}

a {
display:block;
padding:8px 0px;
color: white;
background:darkblue;
text-decoration: none;
border-radius: 10px;
}

.content {
padding: 20px;
}


table{
width:100%;
}

td.t1{
background:black;
}

td.t2{
background:grey;
color:white;
padding: 5px;
}

td.t3{
background:lightyellow;
}

ul {
  margin: 0;
  padding: 0;
  list-style:none;
  
  
  flex-wrap: wrap;
}

li {
text-align:center;
  margin: 0px;
}

a.a1 {
text-align:center;
margin: 0px;
}


/* =========================
   Desktop (≥ 993px)
   ========================= */
@media (min-width: 993px) {
  body {
    font-size: 16px;
    
  }
main.content {
    height:77vh;
}

nav {
height:77vh;
width:7vw;
}

a{
font-size:1vw;
}

td.t2{
height:1vw;
font-size:1vw;
}
 

.content-frame {
width: 100%;
height: 77vh; 
border:none;  
text-align: left;
}

footer{
height:8.7vh;
font-size:2vh;
}

header{
height:11vh;
font-size:2vh;
}



}


/* =========================
   Tablet (401px – 992px)
   ========================= */
@media (max-width: 992px) {
  body {
    font-size: 14px;
  }
main.content {
    height:77vh;
}

nav {
height:50px;


}

footer{
height:8.7vh;
font-size:2.6vh;
}

header{
height:11vh;
font-size:2vh;
}


ul, nav, li, a.a1{
display:flex;
flex-wrap:nowrap;
}


.content-frame {
width: 100%;
height: 77vh;    
text-align: left;
border:none;
}

td.t1{
display: block;

}

td.t2{
display: block;


}

td.t3{
display:block

}

a{
width:17.1vw;
height:30px;
 margin-right:2px;
padding:1vw;
font-size:13px;
}

a.a1{
width:15vw;
padding:1vw;
}



  }

/* =========================
   Mobile (≤ 400px)
   ========================= */
@media (max-width: 400px){
body {
    font-size: 12px;
  }

table{
table-layout:fixed;
}



td.t1{
display: block;

}

td.t2{
display: block;


}

td.t3{
display:block

}

a {
text-align:center;
height:15px;
padding:9px;
width:35.5vw;
margin:1px;

 margin-right:2px;

}

nav {
height:120px;
}

nav ul{
display:flex;
flex-wrap: wrap;
margin:15px;
margin-top:2px;
}

footer{
height:auto;

}

a.a1{
text-align:center;
padding:10px;
width:100px;
margin-left:37vw;
}

nav{
display:flex;
flex-wrap:wrap;
}

li{
margin-bottom:0px;
}

}

